@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #3e54ac !important;
}

/* viewport height min 1 screen */
.min-h-screen {
    min-height: 100vh;
}

.max-width-md {
    max-width: 750px !important;
}

.btn-red {
    background-color: #f65a83;
}

.btn-red:hover {
    background-color: #eb455f;
}

.btn-green {
    background-color: #66bfbf;
}

.btn-green:hover {
    background-color: #53bf9d;
    color: white;
}

.card-theme {
    background-color: #eef2ff;
}

.btn-theme {
    background-color: #e8f9fd;
}

.btn-theme:hover {
    background-color: #9772fb;
    color: white;
}
